body {
  background: rgb(187, 199, 177);
  color: rgb(59, 34, 59);
  font-family: sans-serif;
  font-size: 20px;
}

table {
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #2a2a2a;
}

.title {
  text-align: center;
  color: #ffffff;
  text-shadow: -5px -10px 30px blue, 2px 20px 20px #ff0000, 5px 5px 5px #000000;
}

.title-descr {
  text-align: center;
}

.post-title {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

.post-text {
  text-indent: 100px;
}

.post-title {
  letter-spacing: 10px;
}

.post-text {
  letter-spacing: 5px;
}

pre {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}

pre::first-letter {
  font-family: "Tahoma", serif;
  font-size: 32px;
  color: #f44336;
}

.current {
  color: blue;
}
